:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

html, body {
    font-size: 16px;
}

/* Header - CSS */

.header {
    width: 100%;
    height: 4.375rem;
    box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.29);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--color-white);
    z-index: 999;
}
.container {
    width: 100%;
    max-width: 1352px;
    margin-inline: auto;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    align-items: center;
    height: 100%;
}
.brand {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: var(--color-primary);
    font-size: 2rem;
}
.header__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5625rem;
}
.menu-item {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: .6875rem;
    height: 100%;
    letter-spacing: .205rem;
}
.menu-item__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey);
    font-weight: 700;
    padding: 1.75rem 1.25rem 1.375rem;
    border-bottom: solid 4px transparent;
}
.menu-item__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}


/* Hero section - CSS */

.intro {
    height: 52.625rem;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.intro__bg {
    display: flex;
    justify-content: center;
}
.intro__box {
    padding-top: 8.125rem;
    display: flex;
    flex-direction: column;
    width: 27.5rem;
    align-items: center;
}
.main__title {
    font-family: 'Raleway', sans-serif;
    font-size: 3.0625rem;
    font-weight: 400;
    color: var(--color-black);
    margin-bottom: 1.25rem;
    margin-top: 0;
}
.pmain {
    font-size: 1rem;
    color: var(--color-black);
    margin-bottom: 2.375rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.mbutton {
    padding: 1.375rem;
    border-radius: 2.5rem;
    background-color: var(--color-primary);
    width: 100%;
    text-align: center;
    color: var(--color-white);
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

/* Statistics section - CSS */

.stat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7.625rem;
    padding-top: 6.25rem;
}
.stat__wrapper {

}
.stat__title {
    font-size: 2.25rem;
    font-family: 'Raleway', sans-serif;
    color: var(--color-black);
    font-weight: 400;
    margin-bottom: 6.25rem;
}
.stat-item__wrapper {
    display: flex;
    justify-content: space-between;
}
.stat__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ellipse__holder {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.ellipse {
    width: 3.919375rem;
    height: 3.919375rem;
    border-radius: 50%;
    background-color: var(--color-redish);
}
.ellipse.ellipse__blue {
    background-color: var(--color-primary);
}
.ellipse.ellipse__green {
    background-color: var(--color-green);
}
.ellipse__img {
    position: absolute;
    left: 32px;
}
.ellipse__img.ellipse--eye {
    position: absolute;
    left: 20px;
}
.stat__number {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--color-black);
    margin-top: 0.925rem;
    margin-bottom: 1.19375rem;
    letter-spacing: 0.3725rem;
}
.stat__desc {
    font-family: "Raleway", sans-serif;
    font-size: 1.0625rem;
    font-weight: 400;
    color: var(--color-grey);
    margin-top: 0;
    text-align: center;
}

/* Benefit section - CSS */

.benefity {
    background-color: var(--color-light-grey);
    display: flex;
    justify-content: center;
    padding-top: 6.5625rem;
    padding-bottom: 6.5625rem;
}
.benefity__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.3125rem;
}
.benefit__card {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
    background-color: var(--color-white);
    display: flex;
    height: 370px;
    border: 1px solid #E8E9ED;
}
.benefit__card.benefit__card--reverse {
    flex-direction: row-reverse;
}
.benefit__card.benefit__card--newstyle {
    gap: 3.81rem;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    border: 0;
}
.benefit__col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.benefit__col1.col1--newstyle {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
}
.benefit__col1.col1-padding {
    padding-left: 7.81rem;
}
.benefit__title {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
    color: var(--color-black);
    margin-top: 0;
    margin-bottom: 1.875rem;
}
.benefit__desc {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-black);
    margin-top: 0;
    margin-bottom: 3.125rem;
}
.benefit__sep {
    width: 20.4775rem;
    height: 4px;
    background-color: var(--color-redish);
    display: inline-block;
}
.benefit__sep.sep--blue {
    background-color: var(--color-primary);
}
.benefit__sep.sep--green {
    background-color: var(--color-green);
}
.benefit__col2 {
    width: 50%;
    position: relative;
}

.benefit__img {
    position: absolute;
    left: 50%;
    bottom: 2.375rem;
    max-width: 24.1525rem;
    max-height: 18.1875rem;
    z-index: 2;
    transform: translateX(-50%);
}
.benefit__img.img2 {
    max-width: 27.1525rem;
    max-height: 23.1875rem;
    transform: translate(-56%, 10%);
}
.benefit__img.img3 {
    max-width: 22.1525rem;
    max-height: 18.1875rem;
    transform: translate(-56%, 0%);
}

.benefit__bg.bg1 {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 9.9375rem;
    height: 9.9375rem;
    background-color: var(--color-redish);
    border-radius: 41px;
    opacity: 1;
    z-index: 1;
    transform: translate(120%, -70%) rotate(45deg);
}
.benefit__bg.bg2 {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 20.5rem;
    height: 20.5rem;
    background-color: var(--color-primary);
    border-radius: 100%;
    opacity: 1;
    z-index: 1;
    transform: translate(25%, -53%);
}
.benefit__bg.bg3 {
    background-color: var(--color-green);
    width: 100%;
    height: 100%;
    border: 1px solid #E8E9ED;
}

