:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

html, body {
    font-size: 16px;
}

.header {
    width: 100%;
    height: 4.375rem;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 1352px;
    margin-inline: auto;
}


.header__wrapper {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    align-items: center;

}


.brand {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: var(--color-primary);
    font-size: 2rem;
}


.header__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-item {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: .6875rem;
    height: 100%;
}

.menu-item__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey);
    font-weight: 700;
    padding: 1.75rem 1.25rem 1.375rem;
}

.menu-item__link:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-black);
    border-bottom: solid 4px var(--color-primary);
}









.intro {
    height: 52.625rem;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.intro__bg {
    display: flex;
    justify-content: center;
}

.intro__box {
    padding-top: 8.125rem;
    display: flex;
    flex-direction: column;
    width: 27.5rem;
    align-items: center;
}

.main__title {
    font-family: 'Raleway', sans-serif;
    font-size: 3.0625rem;
    font-weight: 400;
    color: var(--color-black);
    margin-bottom: 1.25rem;
    margin-top: 0;

}

.pmain {
    font-size: 1rem;
    color: var(--color-black);
    margin-bottom: 2.375rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.mbutton {
    padding: 1.375rem;
    border-radius: 2.5rem;
    background-color: var(--color-primary);
    width: 100%;
    text-align: center;
    color: var(--color-white);
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.stat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7.625rem;
    padding-top: 6.25rem;
}

.stat__wrapper {

}

.stat__title {
    font-size: 2.25rem;
    font-family: 'Raleway', sans-serif;
    color: var(--color-black);
    font-weight: 400;
    margin-bottom: 6.25rem;
}

.stat-item__wrapper {
    display: flex;
    justify-content: space-between;

}

.stat__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ellipse__holder {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.ellipse {
    width: 3.919375rem;
    height: 3.919375rem;
    border-radius: 50%;
    background-color: var(--color-redish);
}

.ellipse.ellipse__blue {
    background-color: var(--color-primary);
}

.ellipse.ellipse__green {
    background-color: var(--color-green);
}

.ellipse__img {
    position: absolute;
    left: 32px;
}

.ellipse__img.ellipse--eye {
    position: absolute;
    left: 20px;
}

.stat__number {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--color-black);
    margin-top: 0.925rem;
    margin-bottom: 1.19375rem;
    letter-spacing: 0.3725rem;
}

.stat__desc {
    font-family: "Raleway", sans-serif;
    font-size: 1.0625rem;
    font-weight: 400;
    color: var(--color-grey);
    margin-top: 0;
    text-align: center;
}















.benefity {
    height: 100vh;
    background-color: var(--color-light-grey);
    display: flex;
    justify-content: center;
    align-item: center;
    padding-top: 6.5625rem;
    padding-bottom: 6.5625rem;

}

.benefity__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.3125rem;
}

.benefit__card {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
    background-color: var(--color-white);
    display: flex;
    height: 23.125rem;
}

.benefit__col1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.benefit__title {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
    color: var(--color-black)
}

.benefit__desc {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-black);
}

.benefit__sep {
    width: 20.4775rem;
    max-height: .025rem;
}

.benefit__col2 {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}

.benefit__img {
    position: absolute;
    left: 50px;
    bottom: 2.375rem;
    max-width: 24.1525rem;
    max-height: 18.1875rem;
    z-index: 1;
}

.benefit__bg {
    position: absolute;
    top: 50px;
    width: 9.9375rem;
    height: 9.9375rem;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background-color: var(--color-redish);
    border-radius: 41px;
    opacity: 1;
}